<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
    <!--<language feature="fr-CA" tool="{not-specified}" />-->
    <!--<bindingCulture name="{not-specified}" />-->
    <generator
      allowDebugGeneratedFiles="false"
      allowRowTests="true"
      generateAsyncTests="false"
      path="{not-specified}" />
    <runtime
      stopAtFirstError="false"
      missingOrPendingStepsOutcome="Inconclusive" />
    <trace
      traceSuccessfulSteps="true"
      traceTimings="false"
      minTracedDuration="0:0:0.1"
      stepDefinitionSkeletonStyle="RegexAttribute" />
    <stepAssemblies>
      <stepAssembly assembly="Competition.Tests" />
    </stepAssemblies>
    <plugins>
      <!-- <add name="{plugin-name}" /> -->
    </plugins>
  </specFlow>
</configuration>